{% extends '_base.html' %}
{% block title %}Password Reset Complete{% endblock title %}
{% block content %}
</head>
<div class="container">
    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center">Password Reset Successfull</h2>
            <p class="card-text text-center"> 
                Click <a href="{% url 'login' %<style>
                    .container {
                        padding-top: 50px; /* Adds space at the top of the container */
                    }
                    .card-title {
                        color: #0056b3; /* Bootstrap primary color */
                    }
                </style>}" class="btn btn-primary">here</a> to log in with your new password.
            </p>
        </div>
    </div>
</div>
{% endblock %}
