{% extends '_base.html' %}
{% block title %}Password Reset {% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Password Reset</h5>
                    <p class="text-center">Please enter your email to reset your password:</p>
                    <form method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email:</label>
                            <input type="email" name="email" autocomplete="email" maxlength="254" required class="form-control" id="id_email">
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
